h1{
    font-family: 'San Francisco Display', sans-serif;
    font-size: 32px;
    color:#000000;
    padding: 0px;
    font-weight: 400;
    margin: 0px;
    vertical-align: middle;
}

h2{
    font-family: 'San Francisco Display', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color:#000000;
    padding: 0px;
    margin: 0px;
}

a {
  color: #00ccf1;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom: 3px solid #00ccf1;
  color: #000000;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 720px) {
    div #mobilehide {visibility:hidden;}
    h1 {font-size: 21px;}
    h2 {font-size: 21px;}
}
